#!/bin/sh

exec chpst -u "{{ lego_user }}:{{ lego_group }}" lego -a --path "{{ lego_homedir }}" -m "{{ lego.hostmaster_email }}" --http.webroot "{{ lego_webroot }}" --http {% for item in lego.sites %} -d "{{ item }}"{% endfor %} renew
